package layout

templ Base() {
	<html lang="en">
		<head>
			<script src="https://cdn.tailwindcss.com"></script>
			<script src="https://unpkg.com/htmx.org@1.9.10"></script>
			<title>HTMX - Templ - Echo</title>
		</head>
		<body>
			this is from the base 
			{ children... }
		</body>
	</html>
}
